header{
    position: relative;
    background-color: rgb(214, 213, 213);
    top: -600px;

    align-items: center;
   
}

.imgbox{
    margin: 0px 20px 0px 20px;
    height: 600px;
    overflow: hidden;
    border-radius: 20px;
         
}

img { width: 100%; height: auto; padding-bottom: 100px;   margin-top: -40%; }


nav{
    display: flex;
    justify-content: space-between;
    padding:15px;
    padding-left: 22px;
    margin-top: 0px;
    height: 200px;
    
}

.headerbox{
    position: absolute;
    top: 60px;
    left: 30px;
    font-size: 14px;
    color: grey;
    
    height: 10px;

}

.nav__div{
    font-size: 30px;
    font-weight: 800;
    line-height:200px;
}

.nav__emoji{
    line-height:200px;

}

